/* Todo */

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}

label.add {
  margin-bottom: 15px;
}

li.list-group-item {
  background-color: #423a6f;
  color: #f8f9fa;
}

.pointer {
  cursor: pointer;
}

.item-complete {
  background-color: #3c3b45 !important;
}
